<ion-view title="City Detail">

    <ion-content has-header="true" padding="true">

        <div class="list card">
            <div class="item">
                <h2>{{citydetail.city}}</h2>
            </div>
            <a class="item">Total Logins :<p>{{citydetail.total_login}}</p></a>
            <a class="item">Level 1 Complete :<p>{{citydetail.Level_1_100}}</p></a>
            <a class="item">Level 2 Complete :<p>{{citydetail.Level_2_100}}</p></a>
            <a class="item">Level 3 Complete :<p>{{citydetail.Level_3_100}}</p></a>
            <a class="item">Level 1,2,3 Complete :<p>{{citydetail.Level_1_2_3_100}}</p></a>
            <a class="item button icon-right ion-chevron-right button-calm">View Students</a>
        </div>
    </ion-content>

</ion-view>
