<ion-view title="student">

    <ion-content has-header="true" padding="true">

        <div class="list card">
            <div class="item item-avatar">
                <img ng-src="http://graph.facebook.com/{{student.facebookid}}/picture?height=80&width=80"/>
                <h2>{{student.name}}</h2>
                <p ng-if="student.role > 0" >Role : {{student.rolename}}</p>
            </div>
            <a class="item item-icon-left" href="#/students/{{student.manager.email}}" ng-if="student.manager.email"><i class="icon ion-ios7-person"></i>View Manager<p>{{student.manager.name}}</p></a>
            <a class="item item-icon-left" href="#/manage/{{student.email}}/{{student.role}}" ng-if="student.role > 0"><i class="icon ion-person-stalker"></i>View Direct Reports<p>{{student.directreports}}</p></a>
            <a class="item item-icon-left" href="mailto:{{student.email}}"><i class="icon ion-ios7-email"></i>Email<p>{{student.email}}</p></a>
            <a class="item item-icon-left" href="tel:{{student.officePhone}}"><i class="icon ion-ios7-telephone"></i>Call Office<p>{{student.mobile}}</p></a>
            <a class="item item-icon-left" href="tel:{{student.cellPhone}}"><i class="icon ion-ios7-telephone"></i>College<p>{{student.college.name}}</p></a>
            <a class="item item-icon-left" href="sms:{{student.cellPhone}}"><i class="icon ion-chatbox-working"></i>Vibes :<p>{{student.points}}</p></a>
            <a class="item item-icon-left" href="sms:{{student.cellPhone}}"><i class="icon ion-chatbox-working"></i>Refer Count :<p>{{student.refercount}}</p></a>
            <a class="item item-icon-left" ng-repeat="level in student.stages"><i class="icon ion-chatbox-working"></i>{{level.name}} :<p>{{level.completion}}</p></a>

            <div class="item item-avatar">
                <h2>Level 2 Task 2</h2>
                <p>Activate your most contacted friends on Viber</p>
            </div>

            <div  ng-repeat="answer in task2.answers" class="item item-image">
                <img style="width: 200px;vertical-align: baseline" ng-src="https://s3-ap-southeast-1.amazonaws.com/viber-uploads/level2task2/{{answer.name[0]}}">
            </div>

            <div class="item item-avatar">
                <h2>Level 2 Task 3</h2>
                <p>#GoodVibes is on your mind</p>
            </div>

            <div  ng-repeat="answer in task3.answers" class="item item-image">
                <img style="width: 200px;vertical-align: baseline" ng-src="https://s3-ap-southeast-1.amazonaws.com/viber-uploads/level2task3/{{answer.name[0]}}">
            </div>

            <div class="item item-avatar">
                <h2>Level 2 Task 5</h2>
                <p>Support Yuwa</p>
            </div>

            <div  ng-repeat="answer in task5.answers" class="item item-image">
                <img style="width: 200px;vertical-align: baseline" ng-src="https://s3-ap-southeast-1.amazonaws.com/viber-uploads/level2task5/{{answer.name[0]}}">
            </div>
        </div>


    </ion-content>

</ion-view>
